body, html {
    margin: 0;
    background: #719E82;
    font-family: 'VT323';
}
body {
    margin-bottom: 60px;
}
body:after {
    display: block;
    width: 1px;
    height: 20px;
    content: " ";
    clear: both;
}
h1 {
    color: #fff8dc;
    text-shadow: 3px 3px #556b2f;
    text-align: center;
}
.buttonWrapper {
    display: block;
    float: left;
    width: 310px;
    height: 54px;
}
button {
    width: 94%;
    display: block;
    color: #2D4034;
    font-size: 18px;
    margin: 0;
    padding: 10px 12px;
    font-family: 'VT323';
    background: #fff;
    border: none;
    cursor: pointer;
    box-shadow: #2D4034 1px 1px 0,
                #2D4034 2px 2px 0,
                #2D4034 3px 3px 0,
                #2D4034 4px 4px 0,
                #2D4034 5px 5px 0,
                #2D4034 6px 5px 0;
}
button:hover {
    background: #C1D8C9;
}
button:active {
    margin: 3px 3px 0;
    box-shadow: #2D4034 1px 1px 0,
                #2D4034 2px 2px 0,
                #2D4034 3px 3px 0;
}


#max {
    width: 140px;
    height: 120px;
    position: fixed;
    bottom: 56px;
    left: 10px;
    background: url(max.gif) no-repeat;
}
footer {
    text-shadow: 1px 1px 0 #666;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: solid 3px #ff0000;
    background: #3cb371;
    text-align: center;
    padding-top: 20px;
}
#soundsWrapper {
    padding: 0 180px;
}
